/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v23-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v23-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v23-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v47-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v47-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common */

* {
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #060D10;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1278px;
  margin: 0 auto;
  border: 1px solid red;
}


/* header */

.header {
  padding: 31px 0 30.24px 0;
  background-color: #66D1FF;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: inherit;
  /* border-color: #FFFFFF; */
}

.menu-logo {
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-decoration: none;
  color: inherit;
}

.menu-phone {
  font-size: 28px;
  line-height: 34px;
  text-decoration: none;
  color: inherit;
}

/* product */
.product {
  text-align: center;
  color: #FFFFFF;
  background-image: url(../img/product.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-fade {
  padding: 240px 0 260px 0;
  background-color: rgba(6, 13, 16, .25);
}

.product-title {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-shadow: 1px 1px 2px #060D10;
}

.product-text {
  margin-bottom: 0;
  font-size: 32px;
  line-height: 39px;
  text-shadow: 1px 1px 2px #060D10;
}

/* features */

.features {
  background-image: url(../img/features.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;

}

.features-caption {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 53px;

}
/* почему он больше визуально??? */

.features-text {
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  opacity: 0.8;
}

/* order */

.order {
  background-image: url(../img/order.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.order-invitation {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;

}

.order-btn {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  border: 3px solid #060D10;
  border-radius: 4px;
}

.order-image {
  width: 297px;
  height: 297px;
}

/* footer */

.footer {
  background-color: #060D10;
  color: #FFFFFF;
}

.text-invitation {
  font-size: 20px;
  line-height: 33px;
  text-align: center;
}

.social-twitter {

}

.copyright {
  font-size: 18px;
  line-height: 22px;
}
